<p><% @users.each do |user|%>
    <ul>
      <li><%= "User first name: #{user.first_name}" %></li>
      <li><%= "User last name: #{user.last_name}" %></li>
    </ul>
  <% end%><p/>
<br>
<p>
  <%= "Total number of users: #{@users.count}" %>
</p>
