<h2>Posts</h2>

<%#= social_share_button_tag(@post.title) %>
<%#= social_share_button_tag(@post.title, 'data-twitter-title' => 'TheTitleForTwitter') %>
<%#= social_share_button_tag(@post.title, :allow_sites => %w(twitter facebook)) %>