<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<small>News update at: <%= @post.updated_at %></small>
<br><br>
<%= social_share_button_tag(@post.title) %>


<%#= social_share_button_tag(@post.title, 'data-twitter-title' => 'TheTitleForTwitter') %>
<%#= social_share_button_tag(@post.title, :allow_sites => %w(twitter facebook)) %>